<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UTQC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UTQC.Properties.Settings>
            <setting name="SERVER_IP" serializeAs="String">
                <value>192.168.0.111</value>
            </setting>
            <setting name="SERVER_PORT_IND" serializeAs="String">
                <value>27100</value>
            </setting>
            <setting name="SERVER_PORT_CMN" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="UT2004_HOME" serializeAs="String">
                <value>C:\Unreal Anthology\UT2004</value>
            </setting>
        </UTQC.Properties.Settings>
    </userSettings>
</configuration>